<div class="container">
  <video width="640" height="360" autoplay loop muted>
    <source src="{{ .Site.BaseURL }}/video/{{ .Get 0 }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

  